/*laptops, desktops*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        width: 700px;
        display: grid;
        margin: 0 auto;
        border: 1px solid #d2d2d2;
        box-shadow: 1px 1px 1px gainsboro;
        border-radius: 10px;
        padding: 30px;
        position: relative;
    }
    .container__body:before {
        min-height: 24px;
        height: 30px;
    }
    .col__full input {
        width: 87%;
    }
    .container__two__col .col__left,
    .container__two__col .col__right {
        width: 49%;
        display: inline-block;
    }
    .container__left {
        width: 60%;
        display: inline-block;
        float: left;
    }
    input {
        padding: 10px;
        height: 12px;
        border: 1px solid #cacaca;
        border-radius: 5px;
        margin: 10px 0px 3px;
        outline: none;
    }
    .col__full input[type=text] {
        width: 68%;
        border-radius: 5px 0px 0px 5px;
        border-width: 1px 0px 1px 1px;
        border-color: #cacaca;
        border-style: solid;
        outline: none;
        margin: 14px 0px 3px;
        padding: 10px;
        height: 12px;
    }
    .gmail {
        pointer-events: none;
        display: inline;
        font-size: 13px;
        border-width: 1px 1px 1px 0px;
        border-color: #cacaca;
        border-style: solid;
        border-radius: 0px 5px 5px 0px;
        margin: 10px -7px 3px;
        padding: 7px;
        height: 13px;
    }
    .next a {
        background-color: #297ae6;
        padding: 10px 40px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        border-radius: 6px;
        vertical-align: middle;
        margin: 0 26%;
        width: 100px !important;
    }
    .signin .col__left {
        vertical-align: middle;
    }
}