* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Roboto Regular;
}

body {
    font-family: Roboto Regular;
}

.two__col {
    overflow: hidden;
}

.container__left img {
    width: 86px;
}

.container__left h2 {
    font-family: 'Product Sans Regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #202124;
}

.container__left p {
    font-size: 14px;
    margin-top: 10px;
}

.instead {
    margin-top: 6px;
}

.instead a {
    font-family: Roboto Bold;
    font-size: 14px;
    color: #1a73e8;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

.ftr__btns {
    margin-top: 32px;
}

.signin a {
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: #1a73e8;
    vertical-align: middle;
}

.container__right {
    width: 40%;
    display: inline-block;
    float: right;
}

.container__right img {
    top: 50%;
    width: 180px;
    margin: 0 auto;
    display: block;
    margin-top: 30%;
}

.container__right p {
    font-size: Roboto Light;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

footer {
    width: 57%;
    display: block;
    margin: auto;
    border-radius: 20px;
    padding: 30px 0px;
    position: relative;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 30px;
}

.ftr_lang {
    display: inline-block;
    float: left;
}

.ftr__links {
    display: inline-block;
    float: right;
}

.ftr_lang select {
    max-width: 180px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #202124;
}

.ftr__links li {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.ftr__links li a {
    text-decoration: none;
    color: #757575;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: 700;
}

.firstnameerr,
.phonenum,
.usermail,
.pass,
.fakepass,
.matchpass,
.accept {
    display: none;
    font-size: 12px;
    text-indent: -25px;
    margin-left: 25px;
}

svg {
    margin-right: 8px;
    margin-top: 0px;
    vertical-align: middle;
}


/* 
.errbord,
.ph,
.mail,
.psd1,
.psd2 {
    border: 1px solid #cacaca;
} */