/*/*tablets, ipads (portrait)*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 500px;
        display: grid;
        margin: 0 auto;
        border: 1px solid #d2d2d2;
        box-shadow: 1px 1px 1px gainsboro;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        left: 0;
        right: 0;
        top: 32px;
        bottom: 0;
        margin: auto;
        overflow: auto;
    }
    .col__full input {
        width: 94%;
    }
    .container__two__col .col__left,
    .container__two__col .col__right {
        width: 49%;
        display: inline-block;
    }
    .container__left {
        width: 100%;
        display: grid;
    }
    input {
        padding: 10px;
        height: 12px;
        border: 1px solid #cacaca;
        border-radius: 5px;
        margin: 10px 0px 3px;
        outline: none;
        width: 90%;
    }
    input[type=email] {
        width: 77%;
        border-radius: 5px 0px 0px 5px;
        border-width: 1px 0px 1px 1px;
        border-color: #cacaca;
        border-style: solid;
        outline: none;
        margin: 14px 0px 3px;
        padding: 10px;
        height: 12px;
    }
    .gmail {
        display: inline;
        font-size: 13px;
        border-width: 1px 1px 1px 0px;
        border-color: #cacaca;
        border-style: solid;
        border-radius: 0px 5px 5px 0px;
        margin: 10px -7px 3px;
        padding: 7px;
        height: 13px;
    }
    .next a {
        background-color: #297ae6;
        padding: 10px 40px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        border-radius: 6px;
        vertical-align: top;
        float: right;
        width: 100px !important;
        text-align: center;
    }
    .signin a {
        float: left;
        padding: 10px 0;
        text-decoration: none;
        font-weight: bold;
        color: #1a73e8;
        vertical-align: middle;
    }
    .container__right {
        display: none;
    }
    .signin .col__left {
        vertical-align: middle;
    }
}

*/
/*tablets, ipads (landscape)*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        width: 500px;
        display: grid;
        margin: 0 auto;
        border: 1px solid #d2d2d2;
        box-shadow: 1px 1px 1px gainsboro;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        left: 0;
        right: 0;
        top: 32px;
        bottom: 0;
        margin: auto;
        overflow: auto;
    }
    .col__full input {
        width: 94%;
    }
    .container__two__col .col__left,
    .container__two__col .col__right {
        width: 49%;
        display: inline-block;
    }
    .container__left {
        width: 100%;
        display: grid;
    }
    input {
        padding: 10px;
        height: 12px;
        border: 1px solid #cacaca;
        border-radius: 5px;
        margin: 10px -7px 3px;
        outline: none;
        width: 90%;
    }
    input[type=email] {
        width: 77%;
        border-radius: 5px 0px 0px 5px;
        border-width: 1px 0px 1px 1px;
        border-color: #cacaca;
        border-style: solid;
        outline: none;
        margin: 14px 0px 3px;
        padding: 10px;
        height: 12px;
    }
    .gmail {
        pointer-events: none;
        display: inline;
        font-size: 13px;
        border-width: 1px 1px 1px 0px;
        border-color: #cacaca;
        border-style: solid;
        border-radius: 0px 5px 5px 0px;
        margin: 10px 0px 3px;
        padding: 7px;
        height: 13px;
    }
    .next a {
        background-color: #297ae6;
        padding: 10px 40px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        border-radius: 6px;
        vertical-align: top;
        float: right;
        width: 100px !important;
        text-align: center;
    }
    .signin a {
        float: left;
        padding: 10px 0;
        text-decoration: none;
        font-weight: bold;
        color: #1a73e8;
        vertical-align: middle;
    }
    .container__right {
        display: none;
    }
    .signin .col__left {
        vertical-align: middle;
    }
}