/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
.container{
	width: 450px;
    display: grid;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 30px;
}
.container__left {
    width: 100%;
    display: inline-block;
    float: left;
}}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
.container{
	width: 300px;
    display: grid;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 30px;
}
.container__left {
    width: 100%;
    display: inline-block;
    float: left;
}}